<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
    <form action="" method="POST">
      <label>Book Name</label>
      <input type="text" id="book_name" name="book_name"/>
      <label>Book Author</label>
      <input type="text" id="book_author" name="book_author"/>
      <label>Rating</label>
      <input type="text" id="book_rating" name="book_rating"/>
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
